<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
<listeners>
    <listener class-name="Org.BRP.Listener.ITestListnerForSignup"/>

</listeners>
<test  name="Signup">
    <classes>
        <class name="SignupTest"/>
    </classes>
</test>
<!--
    <test  name="Login">
        <classes>
            <class name="SpiceJetLogin"/>
        </classes>
    </test>-->
</suite>